name: Code check

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

env:
  NEXT_PUBLIC_DOMAIN: localhost:3001

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - run: bun lint

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - run: bun format:check
